@import "variables.css";
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

/* Header */
.header {
    display: flex;
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: rgb(233, 233, 233);
    justify-content: space-between;
    z-index: 2;
    align-items: center;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

.header h1 {
    font-size: 2rem;
    text-align: center;
    font-family: var(--title);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.header h4{
    align-self: flex-end;
    margin-left: 10px;
    margin-right: auto;
    margin-bottom: 1.2rem;
}

.header button {
    border: 3px solid #000;
    border-radius: 3rem;
    background-color: #000;
    transition: all 100ms ease-in-out;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 700;
    text-align: center;
    width: 8rem;
    height: 2.5rem;
}

.header button:hover {
    background-color: #e03327;
    box-shadow: -1px 1px 0 0 #000;
    transform: translate(1px, -1px);
    cursor: pointer;
}

/* Side navigation */

.sideNav {
    background:#212121;
    border-right:1px solid #e5e5e5;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    height:100%;
    width:250px;
    z-index:1;
}

.sideNav ul {
    padding-top: 75px;
    max-height: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.sideNav div {
    z-index: 1;
    overflow: hidden auto;
    box-sizing: border-box;
}

.sideNav div::-webkit-scrollbar {
    width: 6px;
}
  
.sideNav div::-webkit-scrollbar-track {
    background: #000000;
}

.sideNav div::-webkit-scrollbar-thumb {
    background-color: rgb(207, 207, 207);
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
}

.sideNav a {
    display:table;
    border-collapse:collapse;
    border-spacing:0;
    color:#999;
    font-family: arial;
    font-size: 14px;
    text-decoration:none;
    border-style: solid;
    border: #000000;
}

.sideNav i {
    display:table-cell;
    width:50px;
    height:36px;
    text-align:center;
    vertical-align:middle;
    font-size:20px;
}
    
.navText {
    display:table-cell;
    vertical-align:middle;
    width:190px;
    font-size: 1.2em;
    font-family: var(--SideBar);
}
    
nav ul,nav li {
    outline:0;
    margin:0;
    padding:0;
}

.sideNav li:hover {
    background-color:#181818;
}

.pagesText {
    background-color: #2c2c2c;
    font-family: arial;
    font-size: 15px;
    color:#9c9c9c;;
    padding: 4px 5px;
}

.notePage {
    height: 30px;
    display: table !important;
    align-items: center;
    justify-content: left;
}

.notePage a {
    display: table-cell;
}

.textLink {
    width: 90%;
    align-items: center;
    justify-content: left;
    vertical-align: middle;
    padding-left: 1px;
    font-size: 1.1em;
    font-family: var(--SideBar);
    vertical-align: middle;
}

.textLink span {
    display: flex;
    width: 200px !important;
    
    align-items: center;
    vertical-align: middle;
    padding-left: 10px;
    font-size: 1.1em;
    font-family: var(--SideBar);

    white-space: nowrap;
    overflow: hidden;
}

.innerAddPage{
    display: flex;
    height: 30px;
    font-size: 1.5rem;
    font-family: var(--SideBar);
    align-items: center;
    padding-left: 10px;

}

.innerAddPage i{
    height: 5px;
    font-size: 12px;
}

.noteIcon i {
    font-size: 1rem;
    height: 30px;
    vertical-align: middle;
    text-align: center;
}

.selectedNote {
    background-color: #000000 !important;
}

.addPage {
    display: block !important;
    margin-top: auto !important;
}

.addPage:hover {
    background-color:#181818;
}

/* content */

.content {
    box-sizing: border-box;
    width: 100%;
    max-width: 1020px;
    padding: 10rem 0 1rem 280px;
    margin-left: auto;
    margin-right: auto;
}